<div ng-controller="View2Ctrl">
  <menu-list></menu-list>
</div>

<form class="myForm">
  <div><br/><input class="btn" type="submit" ng-click="recupInfo();" value="Récupérer les infos"/></div>
</form>
<div class="panel panel-default">
    <div class="panel-heading">Demandes de crédit</div>
    <table class="table">
        <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Mail</th>
        <th>Telephone</th>
        <th>Montant</th>
        </tr>
        <tr ng-repeat="personne in DocRecup | orderBy:'nom'">
        <td>{{personne.nom}}</td>
        <td>{{personne.prenom}}</td>
        <td>{{personne.email}}</td>
        <td>{{personne.telephone}}</td>
        <td>{{personne.montant | currency:"EUR"}}</td>
        </tr>        
    </table>
</div>

<formu></formu>

<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Error</h4>
        </div>
        <div class="modal-body">
          <error404></error404>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
